<%- include('partials/adminHeader'); -%>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">All Business User Requests </li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> All Business Users Requests</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Business Name</th>
                                <th>GST Number</th>
                                <th>PAN</th>
                                <th>Authorized Signatory Name</th>
                                <th>Phone Number</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% list.forEach(el => { %>
                            <tr>
                                <td><%=el.businessName%></td>
                                <td><%=el.gstNumber%></td>
                                <td><%=el.panNumber%></td>
                                <td><%=el.authorizedSignatoryName%></td>
                                <td><%=el.businessPhone%></td>
                                <td><%=el.businessAddress%></td>
                                <td>
                                    <% if (!el.isAccepted) { %>
                                    <a href="/users/accept/business-account/<%=el.bid%>"><button
                                            class="ui small green button">Accept</button></a>
                                    <% } else { %>
                                    <a href="/users/reject/business-account/<%=el.bid%>"><button
                                            class="ui small red button">Reject</button></a>
                                    <% } %>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /tables-->
    </div>
    <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->

<%- include('partials/adminFooter'); -%>