<%- include('partials/adminHeader'); -%>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Cancellation Requests </li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Cancellation Requests</div>
            <div class="row" style="margin: 2px">
                <div class="col-sm-6" style="text-align: center;">
                    <a class="ui primary button" href="/admin/cancels-filter/cancelled">Cancelled</a>
                </div>
                <div class="col-sm-6" style="text-align: center;">
                    <a class="ui primary button" href="/admin/cancels-filter/cancellation-processing">Cancellation
                        Processing</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Business Name</th>
                                <th>GST Number</th>
                                <th>PAN</th>
                                <th>Authorized Signatory Name</th>
                                <th>Phone Number</th>
                                <th>Address</th>
                                <th>Credit</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <% list.forEach(el => { %>
                            <tr>
                                <td><%=el.businessName%></td>
                                <td><%=el.gstNumber%></td>
                                <td><%=el.panNumber%></td>
                                <td><%=el.authorizedSignatoryName%></td>
                                <td><%=el.businessPhone%></td>
                                <td><%=el.businessAddress%></td>
                                <td>
                                    <a href="/users/premium-account/<%=el.uuid%>"><button
                                            class="ui small green button">Accept</button></a>
                                </td>
                                
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /tables-->
    </div>
    <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->

<%- include('partials/adminFooter'); -%>