<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- Owl Theme Default CSS -->
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Flaticon CSS -->
	<link rel="stylesheet" href="/css/flaticon.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="/css/nice-select.css">
	<!-- Imagelightbox CSS -->
	<link rel="stylesheet" href="/css/imagelightbox.min.css">
	<!-- Meanmenu CSS -->
	<link rel="stylesheet" href="/css/meanmenu.css">
	<!-- Date Picker CSS -->
	<link rel="stylesheet" href="/css/date-picker.css">
	<!-- Date Picker CSS -->
	<link rel="stylesheet" href="/css/odometer.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<!-- TITLE -->
	<title>Checkout Page - Spice Website</title>
</head>

<body>
	<!-- Start Preloader Area -->
	<div class="preloader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- End Preloader Area -->

	<!-- Start Navbar Area -->
	<div class="asahi-nav">
		<div class="navbar-area fixed-top">
			<!-- Menu For Mobile Device -->
			<div class="mobile-nav">
				<a href="/" class="logo">
					<img src="/img/asahi-logo-1.png" alt="Asahi Logo">
				</a>
			</div>

			<!-- Menu For Desktop Device -->
			<div class="main-nav asahi-nav-style-two asahi-nav-style-three">
				<nav class="navbar navbar-expand-md navbar-light">
					<div class="container">
						<a class="navbar-brand" href="/">
							<img src="/img/asahi-logo-1.png" alt="Asahi Logo">
						</a>

						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle active">Home</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="/" class="nav-link active">Home One</a>
										</li>
										<li class="nav-item">
											<a href="index-2.html" class="nav-link">Home Two</a>
										</li>
										<li class="nav-item">
											<a href="index-3.html" class="nav-link">Home Three</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle">Menu</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="menu-standard.html" class="nav-link">Menu Standard</a>
										</li>
										<li class="nav-item">
											<a href="menu-classic.html" class="nav-link">Menu Classic</a>
										</li>
										<li class="nav-item">
											<a href="menu-grid.html" class="nav-link">Menu Grid</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="/items" class="nav-link"> Items</a>
								</li>
								<li class="nav-item">
									<a href="/cartPage" class="nav-link">Cart</a>
								</li>
							</ul>
							<div class="others-option">
								<% if (typeof user != 'undefined') { %>
								<span class="menu-btn contact-number">
									Hi! <%= user.name %>
								</span>
								<a href="/users/logout" class="menu-btn contact-number">
									LOGOUT
								</a>
								<% } else { %>
								<a href="/users/login" class="menu-btn contact-number">
									LOGIN
								</a>
								<% } %>
								<a href="#" data-toggle="modal" data-target="#myModal2" class="menu-btn side-menu">
									Menu
									<i class="flaticon-menu"></i>
								</a>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<!-- End Navbar Area -->

	<!-- Start Sidebar Modal -->
	<div class="sidebar-modal">
		<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								<i class="fa fa-times"></i>
							</span>
						</button>
						<h2 class="modal-title" id="myModalLabel2">
							<a href="/">
								<img src="/img/asahi-logo-1.png" alt="Logo">
							</a>
						</h2>
					</div>
					<div class="modal-body">
						<div class="sidebar-modal-widget">
							<h3 class="title">Contact Info</h3>
							<ul class="contact-info">
								<li>
									<i class="fa fa-map-marker"></i>
									Address
									<span>44 Canal Center Plaza #200, Alexandria, VA 22314, USA</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									Email
									<span>asahi@gmail.com</span>
								</li>
								<li>
									<i class="fa fa-phone"></i>
									Phone
									<span>+25462755, 265497466</span>
								</li>
							</ul>
						</div>
						<div class="sidebar-modal-widget">
							<h3 class="title">Additional Links</h3>
							<ul>
								<li>
									<a href="/users/login">Log In</a>
								</li>
								<li>
									<a href="/users/register">Sign Up</a>
								</li>
								<li>
									<a href="faq.html">FAQ</a>
								</li>
								<li>
									<a href="#">Logout</a>
								</li>
							</ul>
						</div>
						<div class="sidebar-modal-widget">
							<h3 class="title">Connect With Us</h3>
							<ul class="social-list">
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Sidebar Modal -->

	<!-- Start Page Title Area -->
	<div class="page-title-area item-bg-3">
		<div class="container">
			<div class="page-title-content">
				<h2>Checkout </h2>
				<ul>
					<li>
						<a href="/">
							Home
							<i class="fa fa-chevron-right"></i>
						</a>
					</li>
					<li>Checkout</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Page Title Area -->

	<!-- Start Checkout Area -->
	<section class="checkout-area ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="user-actions">
						<i class="fas fa-sign-in-alt"></i>
						<span>Returning customer? <a href="/users/login">Click here to login
							</a></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="order-details">
						<div class="order-table table-responsive">
							<div class="payment-box">
								<form method="POST" action="/checkout">
									<div class="payment-method">
										<h3 class="title">Addresses</h3>
										<% for (let i = 0; i < address.address.length; i++) { %>
										<p>
											<input type="radio" id="<%=address.address[i]._id%>" name="address"
												value="<%=address.address[i]._id%>">
											<label for="<%=address.address[i]._id%>"><span
													style="color: #fb641b; text-transform: uppercase; font-size: medium;"><%=address.address[i].addressType%></span><br>
												<%=(address.address[i].fullAddress + ", " + address.address[i].landmark  + ", " + address.address[i].locality + ", " + 
												address.address[i].city + ", " + address.address[i].state +".")%><br>
												PIN: <%=(address.address[i].pincode) %><br>
												Phone Number: <span
													style="color: #fb641b; text-transform: uppercase;"><%=address.address[i].phone%></span></label>
										</p>
										<% } %>
									</div>
									<button class="default-btn">Place Order</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-12">
					<div class="order-details">
						<h3 class="title">Your Order</h3>

						<div class="order-table table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th scope="col">Product Name</th>
										<th scope="col">Quantity</th>
										<th scope="col">Total</th>
									</tr>
								</thead>

								<tbody>
									<% var sum = 0 %>
									<% for (let i = 0; i < cart.length; i++) { %>
									<tr>
										<td class="product-name">
											<a href="#"><%= cart[i].item.name %></a>
										</td>
										<td class="product-quantity">
											<span class="subtotal-amount"><%= cart[i].quantity%></span>
										</td>
										<td class="product-total">
											<span class="subtotal-amount">Rs.
												<%= parseInt(cart[i].quantity) * parseInt(cart[i].price[0])%></span>
										</td>
										<% sum = sum + parseInt(cart[i].quantity) * parseInt(cart[i].price[0]) %>
									</tr>
									<% } %>

									<tr>
										<td class="order-subtotal">
											<span>Cart Subtotal</span>
										</td>
										<td></td>
										<td class="order-subtotal-price">
											<span class="order-subtotal-amount">Rs. <%=sum%></span>
										</td>
									</tr>

									<tr>
										<td class="order-shipping">
											<span>GST (18%)</span>
										</td>
										<td></td>
										<td class="shipping-price">
											<span>Rs. <%=(sum * (18/100))%></span>
										</td>
									</tr>

									<tr>
										<td class="total-price">
											<span>Order Total</span>
										</td>
										<td></td>
										<td class="product-subtotal">
											<span class="subtotal-amount">Rs. <%=(sum * (118/100))%></span>
										</td>
									</tr>
								</tbody>

							</table>
						</div>
						<!-- <div class="payment-box">
								<div class="payment-method">
									<p>
										<input type="radio" id="direct-bank-transfer" name="radio-group" checked>
										<label for="direct-bank-transfer">Direct Bank Transfer</label>

										Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
									</p>
									<p>
										<input type="radio" id="paypal" name="radio-group">
										<label for="paypal">PayPal</label>
									</p>
									<p>
										<input type="radio" id="cash-on-delivery" name="radio-group">
										<label for="cash-on-delivery">Cash on Delivery</label>
									</p>
								</div>

								<button class="default-btn">Place Order</button>
							</div> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Checkout Area -->

	<!-- Start Footer Area -->
	<footer class="footer-area ptb-100-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="single-widget">
						<a href="#">
							<img src="/img/asahi-footer-logo.png" alt="Footer Logo">
						</a>
						<p>Sign up to our newsletter to get the latest food item news.</p>
						<form class="subscribe newsletter-form" data-toggle="validator">
							<label>
								<input type="email" class="input-newsletter search-field" placeholder="Your email"
									name="EMAIL" required autocomplete="off">
							</label>
							<input type="submit" class="search-submit default-btn-2" value="Sbuscribe">
							<div id="validator-newsletter" class="form-result"></div>
						</form>
					</div>
				</div>
				<div class="col-lg-2 col-sm-6">
					<div class="single-widget single-widget-1">
						<h3>USEFUL LINKS</h3>
						<ul class="footer-menu">
							<li>
								<a href="hone-one.html">
									<i class="flaticon-right-arrow-forward"></i>
									Home
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-right-arrow-forward"></i>
									About Us
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-right-arrow-forward"></i>
									Blog Grid
								</a>
							</li>
							<li>
								<a href="contact.html">
									<i class="flaticon-right-arrow-forward"></i>
									Contact Us
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-right-arrow-forward"></i>
									Privacy Policy
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="single-widget single-widget-2">
						<h3>ADDRESS</h3>
						<ul>
							<li class="address-s">
								44 Canal Center Plaza #200, Alexandria, VA 22314, USA
							</li>
							<li><a href="#">Hotline: 1900 – 123 456 78</a></li>
							<li><a href="#">Email: asahi@gmail.com</a></li>
							<li><a href="#">Email: info@example.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="single-widget">
						<h3>OPENING HOURS</h3>
						<ul>
							<li class="footer-border">
								Monday: <span>9.00 AM - 22.00 PM</span>
							</li>
							<li class="footer-border">
								Tuesday: <span>9.00 PM - 22.00 AM</span>
							</li>
							<li class="footer-border">
								Wednesday: <span>9.00 AM - 20.00 PM</span>
							</li>
							<li>
								Thursday: <span>8.00 AM - 22.00 PM</span>
							</li>
							<li>
								Friday: <span>9.00 AM - 22.00 PM</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->

	<!-- Start Footer Bottom Area -->
	<footer class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-3">
					<ul class="social-list">
						<li>
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-youtube-play"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="copy-right">
						<p>
							© 2020 All Rights Reserved-<a href="https://envytheme.com">EnvyTheme</a>
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-3">
					<ul class="bank-card">
						<li>
							<a href="#">
								<img src="/img/payment/1.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/payment/2.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/payment/3.png" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/img/payment/4.png" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Bottom Area -->

	<!-- Start Go Top Area -->
	<div class="go-top-area">
		<div class="go-top-wrap">
			<div class="go-top-btn-wrap">
				<div class="go-top go-top-btn">
					<i class="flaticon-arrows"></i>
					<i class="flaticon-arrows"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- End Go Top Area -->


	<!-- Jquery Slim JS -->
	<script src="/js/jquery-3.2.1.slim.min.js"></script>
	<!-- Popper JS -->
	<script src="/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Meanmenu JS -->
	<script src="/js/jquery.meanmenu.js"></script>
	<!-- Nice Select JS -->
	<script src="/js/jquery.nice-select.min.js"></script>
	<!-- Wow JS -->
	<script src="/js/wow.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="/js/owl.carousel.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<!-- Imagelightbox JS -->
	<script src="/js/imagelightbox.min.js"></script>
	<!-- Appear JS -->
	<script src="/js/jquery.appear.js"></script>
	<!-- Odometer JS -->
	<script src="/js/odometer.min.js"></script>
	<!-- Form Ajaxchimp JS -->
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<!-- Form Validator JS -->
	<script src="/js/form-validator.min.js"></script>
	<!-- Contact Form JS -->
	<script src="/js/contact-form-script.js"></script>
	<!-- Custom JS -->
	<script src="/js/custom.js"></script>
</body>

</html>