<%- include('partials/adminHeader'); -%>

<div class="container">
    <br>
    <br>
    <br>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Code</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < foundcodes.length; i++ ) { %>
            <tr>
                <td><img src="<%= itemlist[i].image %>"></td>
                <td><%= foundcodes[i].code %></td>
                <td><%= foundcodes[i].discount %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('partials/adminFooter'); -%>