<%- include('partials/header', {title: "Welcome to 112Cart", desc: "Best Shopping Website"}); -%>

<style>
	.slider-item-bg-1 {
		background-color: rgb(0, 0, 0);
	}
</style>

<!-- Start Hero Slider Area -->
<section class="hero-slider-area hero-slider-three">
	<div class="hero-slider owl-carousel owl-theme">
		<div class="hero-slider-item slider-item-bg-1" style="padding-bottom: 0px; color: black;">
			<div class="d-table" id="start">
				<div class="d-table-cell">
					<div class="uk-cover-container uk-height-large uk-dark" uk-height-viewport>
						<video src="https://d6fhaebhrj3za.cloudfront.net/images/homeVid.mp4" autoplay loop muted
							playsinline uk-cover></video>
						<div class="uk-overlay uk-overlay-default uk-position-center"
							style="background-color: rgba(0, 0, 0, 0); text-align: center;">
							<div class="container">
								<div class="hero-slider-text slider-text-three">
									<p style="text-align: center; margin-bottom: 10px;"><b>Welcome to 112</b>, where
										service is salvation.</p>
									<h1 style="text-align: center; margin-top: 10px;">A supply giant dedicated for <span
											style=" margin-bottom: 40px;">Schools, Colleges & Institutions</span></h1>
									<p style="text-align: center;"><b>Prevention is the only cure.</b> Let's keep-up our
										fight against COVID-19 and protect our family, friends, colleagues and
										customers.</p>
									<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
										<div style="text-align: center;">
											<a class="default-btn-two" href="#productsAndServices"
												style="padding: 8px 15px 8px 15px; color: white;" autofocus uk-scroll>
												Products </a>
										</div>
										<div style="text-align: center;">
											<a class="default-btn-two" href="#productsAndServices"
												style="padding: 8px 15px 8px 15px; color: white;" autofocus uk-scroll>
												Services </a>
										</div>
										<div style="text-align: center;">
											<a class="default-btn-two" href="#productsAndServices"
												style="padding: 8px 15px 8px 15px; color: white;" autofocus uk-scroll>
												90 Days Prevention </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Hero Slider Area -->

<!-- Start Our History Area -->
<section class="our-histry-area pt-100">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="history-title">
					<h2><span>50+ Years of Service Experience</span><br> Now Going Digital</h2>
					<p>We at 112 always think, how can we add a bit of 112 to our clients needs. Our aim is
						to help our clients by way of cutting edge technology and forge relationships that will go a
						long way.

						RG Karnani, Founder.</p>
					<!-- <img src="https://www.chemtexltd.com//wp-content/uploads/2016/12/sign-dark.svg"> -->
					<br>

					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Quis ipsum suspendisse.</p> -->
					<a class="default-btn" href="#">
						Our History
						<i class="flaticon-right-arrow-forward"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="single-histry-one">
					<img src="https://112cart.s3.ap-south-1.amazonaws.com/images/index2.jpeg" alt="Store">
					<div class="store-img-two">
						<img src="https://d6fhaebhrj3za.cloudfront.net/images/index1.jpeg" alt="Store">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Our History Area -->

<!-- Start Service Area -->
<section class="service-area-three ptb-100">
	<div class="container" id="productsAndServices">
		<div class="section-title">
			<h2>Sanitizers <span>& Disinfectants</span></h2>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="single-service ss-1">
					<div class="service-icon">
						<i class="flaticon-cloche"></i>
					</div>
					<h3>Products</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 icon-color">
				<div class="single-service ss-2">
					<div class="service-icon">
						<i class="flaticon-atmospheric"></i>
					</div>
					<h3>Services</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Service Area -->

<!-- Start Offer Menu Area -->
<section class="offer-area ptb-100">
	<div class="container">
		<div class="section-title">
			<h2 style="color: black !important; text-align: center;">Say goodbye to daily disinfection <br>
				<span style="font-weight: bold;">Get a 90-Day protection plan</span></h2>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-8">
				<img src="https://1012672760.rsc.cdn77.org/Temp112cart/biobunnle.png">
			</div>
			<div class="col-lg-4">
				<div class="offer-logo">
					<p>Book</p>
					<span style="font-size: 36px;">a service</span>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Offer Menu Area -->

<!-- Start Suitable Menu Area -->
<section class="suitable-menu">
	<div class="container">
		<div class="menu-item-wrap">
			<div class="section-title">
				<h2>Recommended <span>Products</span></h2>
				<img src="/img/shape/1.png" alt="Shape">
				<p>Buy online from us, directly from our website - delivered right to your doorstep.</p>
			</div>
			<div class="menu-list-wrap owl-carousel owl-theme">
				<div class="single-menu-item">
					<div class="menu-img">
						<img src="https://www.chemtexltd.com/wp-content/uploads/2017/08/5dfabb9c-73a6-48f7-8380-c32fe952750c-315x315.jpg"
							alt="Menu">
						<div class="price">
							<span style="font-size: small;">Rs. 7,990</span>
						</div>
					</div>
					<div class="item-text">
						<h3>
							<a href="#">112 Office Sanitation Pack</a>
						</h3>
						<p>1 Box</p>
						<ul>
							<li>
								<a class="default-btn" href="#">Order Now</a>
							</li>
							<!-- <li class="quantity">
									<div class="input-counter">
										<span class="minus-btn">
											<i class="fa fa-minus"></i>
										</span>
										<input type="text" value="1">
										<span class="plus-btn">
											<i class="fa fa-plus"></i>
										</span>
									</div>
								</li> -->
						</ul>
					</div>
				</div>
				<div class="single-menu-item">
					<div class="menu-img">
						<img src="https://www.chemtexltd.com/wp-content/uploads/2020/06/ec174148-8f27-4e1a-9007-983787e1ec10-315x315.jpg"
							alt="Menu">
						<div class="price">
							<span style="font-size: small;">Rs. 5,490</span>
						</div>
					</div>
					<div class="item-text">
						<h3>
							<a href="#">112 Alstasan Handrub (Alc. based Handrub)</a>
						</h3>
						<p>4 Jars of 5 litres</p>
						<ul>
							<li>
								<a class="default-btn" href="#">Order Now</a>
							</li>
							<!-- <li class="quantity">
									<div class="input-counter">
										<span class="minus-btn">
											<i class="fa fa-minus"></i>
										</span>
										<input type="text" value="1">
										<span class="plus-btn">
											<i class="fa fa-plus"></i>
										</span>
									</div>
								</li> -->
						</ul>
					</div>
				</div>
				<div class="single-menu-item">
					<div class="menu-img">
						<img src="https://www.chemtexltd.com/wp-content/uploads/2020/06/6520b241-014f-48b3-abbd-4dcfa900d83d-315x315.jpg"
							alt="Menu">
						<div class="price">
							<span>Rs. 2,348</span>
						</div>
					</div>
					<div class="item-text">
						<h3>
							<a href="#">112 Monthly Disinfectant Combo for Family</a>
						</h3>
						<p>Pack of 6</p>
						<ul>
							<li>
								<a class="default-btn" href="#">Order Now</a>
							</li>
							<!-- <li class="quantity">
									<div class="input-counter">
										<span class="minus-btn">
											<i class="fa fa-minus"></i>
										</span>
										<input type="text" value="1">
										<span class="plus-btn">
											<i class="fa fa-plus"></i>
										</span>
									</div>
								</li> -->
						</ul>
					</div>
				</div>
				<div class="single-menu-item">
					<div class="menu-img">
						<img src="https://www.chemtexltd.com/wp-content/uploads/2020/04/ALSTASAN-SILVOX-150_2-315x315.jpg"
							alt="Menu">
						<div class="price">
							<span>Rs. 10,608</span>
						</div>
					</div>
					<div class="item-text">
						<h3>
							<a href="#">112 Alstasan Silvox 150 (Silver Hydrogen Peroxide based Universal
								Disinfectant)</a>
						</h3>
						<p>1 Jar of 20 litres</p>
						<ul>
							<li>
								<a class="default-btn" href="#">Order Now</a>
							</li>
							<!-- <li class="quantity">
									<div class="input-counter">
										<span class="minus-btn">
											<i class="fa fa-minus"></i>
										</span>
										<input type="text" value="1">
										<span class="plus-btn">
											<i class="fa fa-plus"></i>
										</span>
									</div>
								</li> -->
						</ul>
					</div>
				</div>
				<div class="single-menu-item">
					<div class="menu-img">
						<img src="https://www.chemtexltd.com/wp-content/uploads/2020/04/ALSTASAN-ACTIV-2-315x315.jpg"
							alt="Menu">
						<div class="price">
							<span>Rs. 6,372</span>
						</div>
					</div>
					<div class="item-text">
						<h3>
							<a href="#">112 Alstasan Activ (5% Peracetic Acid based Oxidizing Disinfectant) - 20
								Litre</a>
						</h3>
						<p>1 Jar of 20 litres</p>
						<ul>
							<li>
								<a class="default-btn" href="#">Order Now</a>
							</li>
							<!-- <li class="quantity">
									<div class="input-counter">
										<span class="minus-btn">
											<i class="fa fa-minus"></i>
										</span>
										<input type="text" value="1">
										<span class="plus-btn">
											<i class="fa fa-plus"></i>
										</span>
									</div>
								</li> -->
						</ul>
					</div>
				</div>
				<div class="single-menu-item">
					<div class="menu-img">
						<img src="https://www.chemtexltd.com/wp-content/uploads/2020/05/ALS256-315x315.jpeg" alt="Menu">
						<div class="price">
							<span>Rs. 9,428</span>
						</div>
					</div>
					<div class="item-text">
						<h3>
							<a href="#">112 Disinfectant Sprayer with Chlorine Free Disinfectant</a>
						</h3>
						<p>2 Jar of 5 litre with Disinfectant Sprayer</p>
						<ul>
							<li>
								<a class="default-btn" href="#">Order Now</a>
							</li>
							<!-- <li class="quantity">
									<div class="input-counter">
										<span class="minus-btn">
											<i class="fa fa-minus"></i>
										</span>
										<input type="text" value="1">
										<span class="plus-btn">
											<i class="fa fa-plus"></i>
										</span>
									</div>
								</li> -->
						</ul>
					</div>
				</div>
				<div class="single-menu-item">
					<div class="menu-img">
						<img src="https://www.chemtexltd.com/wp-content/uploads/2020/05/Alstasan-Hand-Rub_x56-315x315.jpg"
							alt="Menu">
						<div class="price">
							<span>Rs. 2,112</span>
						</div>
					</div>
					<div class="item-text">
						<h3>
							<a href="#">112 Alstasan Handrub (Alc. based Handrub)</a>
						</h3>
						<p>56 bottles of 110ml</p>
						<ul>
							<li>
								<a class="default-btn" href="#">Order Now</a>
							</li>
							<!-- <li class="quantity">
									<div class="input-counter">
										<span class="minus-btn">
											<i class="fa fa-minus"></i>
										</span>
										<input type="text" value="1">
										<span class="plus-btn">
											<i class="fa fa-plus"></i>
										</span>
									</div>
								</li> -->
						</ul>
					</div>
				</div>
				<div class="single-menu-item">
					<div class="menu-img">
						<img src="https://www.chemtexltd.com/wp-content/uploads/2020/05/12d0dd86-ecb3-42d9-803c-27f756edd373-315x315.jpg"
							alt="Menu">
						<div class="price">
							<span>Rs. 1,381</span>
						</div>
					</div>
					<div class="item-text">
						<h3>
							<a href="#">112 Alstasan Silvox 150 MIST (Fog and Spray Disinfectant)/Vegetable
								Disinfectant</a>
						</h3>
						<p>6 bottles of 1 litre</p>
						<ul>
							<li>
								<a class="default-btn" href="#">Order Now</a>
							</li>
							<!-- <li class="quantity">
									<div class="input-counter">
										<span class="minus-btn">
											<i class="fa fa-minus"></i>
										</span>
										<input type="text" value="1">
										<span class="plus-btn">
											<i class="fa fa-plus"></i>
										</span>
									</div>
								</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Suitable Menu Area -->

<!-- Start Delicious Menu Area -->
<section class="delicious-menus-area ptb-100">
	<div class="container">
		<div class="delicious-menu-wrap">
			<div class="section-title">
				<h2>Other <span>Categories</span></h2>
				<h4
					style="background-color: #004aad; color: white; padding: 7px 15px 7px 15px; margin: 2px 0px 24px 0px;">
					Coming Soon</h4>
			</div>
			<% var array = new Array() %>
			<% array.push({name : "Winter Uniforms", image: "", desc: ""}) %>
			<% array.push({name : "Books", image: "", desc: ""}) %>
			<% array.push({name : "Physics", image: "", desc: ""}) %>
			<% array.push({name : "Chemistry", image: "", desc: ""}) %>
			<% array.push({name : "Biology", image: "", desc: ""}) %>
			<% array.push({name : "Mathematics", image: "", desc: ""}) %>
			<% array.push({name : "Geography & Surveying", image: "", desc: ""}) %>
			<% array.push({name : "Visual Teaching", image: "", desc: ""}) %>
			<% array.push({name : "Education CD", image: "", desc: ""}) %>
			<% array.push({name : "Portraits", image: "", desc: ""}) %>
			<% array.push({name : "Electronics", image: "", desc: ""}) %>
			<% array.push({name : "Pharmacy", image: "", desc: ""}) %>
			<% array.push({name : "Sieves", image: "", desc: ""}) %>
			<% array.push({name : "Applied Mathematics", image: "", desc: ""}) %>
			<% array.push({name : "Psychology", image: "", desc: ""}) %>
			<% array.push({name : "Entomology", image: "", desc: ""}) %>
			<% array.push({name : "Metallurgy & Bio-Technology", image: "", desc: ""}) %>
			<% array.push({name : "Pathology", image: "", desc: ""}) %>
			<% array.push({name : "Histopathology", image: "", desc: ""}) %>
			<% array.push({name : "Quartz Glassware", image: "", desc: ""}) %>
			<% array.push({name : "ABDOS Lab Plastic-ware", image: "", desc: ""}) %>
			<% array.push({name : "Nursing Products", image: "", desc: ""}) %>
			<% array.push({name : "Mechanical Engineer Lab", image: "", desc: ""}) %>
			<% array.push({name : "Laboratory Instrument", image: "", desc: ""}) %>
			<% array.push({name : "Chemicals", image: "", desc: ""}) %>
			<% array.push({name : "Avantor Glassware", image: "", desc: ""}) %>
			<div class="row">
				<% array.forEach(el => { %>
				<div class="col-lg-4 col-md-6">
					<div class="single-delicious-menu">
						<div class="menu-list-img">
							<img src="<%=el.image%>" alt="Delicious">
						</div>
						<div class="delicious-menu-text">
							<h3><%=el.name%></h3>
							<p><%=el.desc%></p>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
			<div class="row see-full-menu m-0">
				<div class="col-lg-8 p-0">
					<!-- <p>The menu will be avail able for all or our coustomer please check button all menu</p> -->
				</div>
				<div class="col-lg-4 p-0">
					<a class="default-btn-two" href="#">
						View All Categories
						<i class="flaticon-next"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Delicious Menu Area -->

<!-- Start Speacial Offers Area -->
<!-- <section class="speacial-offers-area ptb-100-70">
		<div class="container">
			<div class="section-title">
				<h2>Our Daily <span>Speacial Offers</span></h2>
				<img src="/img/shape/1.png" alt="Shape">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua Quis ipsum suspendisse.</p>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6 col-md-6">
					<div class="single-speacial-Offers">
						<div class="menu-img">
							<img src="/img/home-three/speacial-offers/1.jpg" alt="Offers">
							<div class="price">
								<span>$40</span>
							</div>
						</div>
						<div class="item-text">
							<h3>
								<a href="#">Broduos Grenti menso</a>
							</h3>
							<p>Lorem ipsum dolor siamonsectetur adipiscing elit, sed do </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-md-6">
					<div class="single-speacial-Offers">
						<div class="menu-img">
							<img src="/img/home-three/speacial-offers/3.jpg" alt="Offers">
							<div class="price">
								<span>$60</span>
							</div>
						</div>
						<div class="item-text">
							<h3>
								<a href="#">Broduos Grenti menso</a>
							</h3>
							<p>Lorem ipsum dolor siamonsectetur adipiscing elit, sed do </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-md-6">
					<div class="single-speacial-Offers">
						<div class="menu-img">
							<img src="/img/home-three/speacial-offers/2.jpg" alt="Offers">
							<div class="price">
								<span>$90</span>
							</div>
						</div>
						<div class="item-text">
							<h3>
								<a href="#">Almond Baked Brie</a>
							</h3>
							<p>Lorem ipsum dolor siamonsectetur adipiscing elit, sed do </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-md-6">
					<div class="single-speacial-Offers">
						<div class="menu-img">
							<img src="/img/home-three/speacial-offers/4.jpg" alt="Offers">
							<div class="price">
								<span>$50</span>
							</div>
						</div>
						<div class="item-text">
							<h3>
								<a href="#">Tuscan Flatbread</a>
							</h3>
							<p>Lorem ipsum dolor siamonsectetur adipiscing elit, sed do </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- End Speacial Offers Area -->

<!-- Start Offer Menu Area -->
<!-- <section class="offer-area ptb-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8">
					<div class="offer-title">
						<span>Lunch Time offer</span>
						<h2>We offer a bit less <span>at Midday</span></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
							viverra maecenas.</p>
						<a class="default-btn-two" href="shop.html">
							ORDER NOW
							<i class="flaticon-next"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="offer-logo">
						<p>30%</p>
						<span>Off</span>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- End Offer Menu Area -->

<!-- Start Our Talented Area -->
<!-- <section class="our-talented-area ptb-100">
		<div class="container">
			<div class="section-title">
				<h2>Check Our <span>Delicious Menu</span></h2>
				<img src="/img/shape/1.png" alt="Shape">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Quis ipsum suspendisse ultrices.</p>
			</div>
			<div class="talented-wrap owl-carousel owl-theme">
				<div class="single-talented">
					<img src="/img/home-one/talented/1.jpg" alt="">
					<div class="talented-caption">
						<h3>WILLIAM SMITH</h3>
						<span>CHEF</span>
						<ul class="social-list">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="single-talented">
					<img src="/img/home-one/talented/2.jpg" alt="">
					<div class="talented-caption">
						<h3>PAUL CARTER</h3>
						<span>FOUNDER</span>
						<ul class="social-list">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="single-talented">
					<img src="/img/home-one/talented/3.jpg" alt="">
					<div class="talented-caption">
						<h3>JOHN SMITH</h3>
						<span>MARKETING</span>
						<ul class="social-list">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="single-talented">
					<img src="/img/home-one/talented/3.jpg" alt="">
					<div class="talented-caption">
						<h3>EMMA DOE</h3>
						<span>MANAGER</span>
						<ul class="social-list">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- End Our Talented Area -->

<!-- Start Counter Area -->
<div class="conuter-area ptb-100-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-md-3 pr-0">
				<div class="single-conuter conuters">
					<span class="odometer" data-count="93">00</span>
					<p>Beverages</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-3 p-0">
				<div class="single-conuter conuters">
					<span class="odometer" data-count="109">00</span>
					<p>Food items</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-3 p-0">
				<div class="single-conuter conuters">
					<span class="odometer" data-count="75">00</span>
					<p>Cooks</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-3 pl-0">
				<div class="single-conuter">
					<span class="odometer" data-count="163">00</span>
					<p>Original dhishes</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Counter Area -->

<!-- Start Book Table Area -->
<!-- <section class="book-table-area-three">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 p-0">
					<div class="books-froms-wrap">
						<div class="d-table">
							<div class="d-table-cell">
								<div class="book-from books-froms">
									<h3>Book your Table</h3>
									<form>
										<div class="form-group">
											<div class="select-box">
												<i class="flaticon-avatar"></i>
												<select class="form-control">
													<option value="5">Number of People</option>
													<option value="1">5</option>
													<option value="2">10</option>
													<option value="0">15</option>
													<option value="3">20</option>
													<option value="4">25</option>
													<option value="5">30</option>
													<option value="6">35</option>
													<option value="7">40</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<div class="select-box">
												<i class="flaticon-timetable"></i>
												<div class="input-group date" id="datetimepicker2">
													<input type="text" class="form-control" placeholder="Date">
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-th"></i>
													</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="select-box">
												<i class="flaticon-clock"></i>
												<select class="form-control">
													<option value="1">Time</option>
													<option value="2">09.00 AM To 10.00 AM</option>
													<option value="0">10.00 AM To 11.00 AM</option>
													<option value="3">11.00 AM To 12.00 PM</option>
													<option value="4">12.00 PM To 01.00 PM</option>
													<option value="5">01.00 PM To 03.00 PM</option>
													<option value="6">04.00 PM To 06.00 PM</option>
													<option value="7">07.00 PM To 10.00 PM</option>
													<option value="8">10.00 PM To 11.00 PM</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<div class="select-box">
												<i class="flaticon-group-meeting"></i>
												<select class="form-control">
													<option value="5">Number of Table</option>
													<option value="1">01</option>
													<option value="1">01</option>
													<option value="1">01</option>
													<option value="1">01</option>
													<option value="1">01</option>
													<option value="1">01</option>
													<option value="1">01</option>
													<option value="1">01</option>
													<option value="1">01</option>
												</select>
											</div>
										</div>
										<button type="submit" class="default-btn">
											FIND A TABLE
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 p-0">
					<div class="contact-info-wrap">
						<div class="d-table">
							<div class="d-table-cell">
								<div class="contact-info">
									<h3>Our contract info</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adip suspendisse ultrices gravida. Risus
										commodo svel facilisis.</p>
									<ul>
										<li>
											<a href="#">
												<i class="flaticon-phone-call"></i>
												+800-987-65-43
											</a>
										</li>
										<li>
											<a href="#">
												<i class="flaticon-phone-call"></i>
												+800-987-65-43
											</a>
										</li>
									</ul>
									<ul>
										<li>
											<a href="#">
												<i class=" icon-algin fa fa-envelope-o"></i>
												ashsahirestarant@company.com
											</a>
										</li>
										<li>
											<a href="#">
												<i class=" icon-algin fa fa-envelope-o"></i>
												restaurantpersonla@gmail.com
											</a>
										</li>
									</ul>
									<span>
										<i class=" icon-algin fa fa-map-marker"></i>
										85 Bay Meadows Drive Woodstock, GA 30188, United States
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- End  Book Table Area -->

<!-- Start Feedback Area -->
<!-- <section class="feedback-area-two ptb-100">
		<div class="container">
			<div class="section-title">
				<h2>People Say <span>About Us!</span></h2>
				<img src="/img/shape/1.png" alt="Shape">
			</div>
			<div class="row">
				<div class="feedback-wrap owl-carousel owl-theme">
					<div class="feedback-item-two">
						<img src="/img/home-two/feedback/1.jpg" alt="Feedback">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
							viverra maecenas accumsan lacus vel facilisist amet, consectetur adipiscing elit, sed do
							eiusm.</p>
						<h3>Wanino doms</h3>
						<span>Co-founder</span>
					</div>
					<div class="feedback-item-two">
						<img src="/img/home-two/feedback/2.jpg" alt="Feedback">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
							viverra maecenas accumsan lacus vel facilisist amet, consectetur adipiscing elit, sed do
							eiusm.</p>
						<h3>Janadhon doe</h3>
						<span>Co-founder</span>
					</div>
					<div class="feedback-item-two">
						<img src="/img/home-two/feedback/3.jpg" alt="Feedback">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
							viverra maecenas accumsan lacus vel facilisist amet, consectetur adipiscing elit, sed do
							eiusm.</p>
						<h3>Anadson steve</h3>
						<span>Co-founder</span>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- End Feedback Area -->

<!-- Start Blog Area -->
<!-- <section class="blog-area ptb-100-70">
		<div class="container">
			<div class="section-title">
				<h2>From <span>Our Blog</span></h2>
				<img src="/img/shape/1.png" alt="Shape">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua Quis ipsum suspendisse.</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-blog">
						<a href="blog-details.html">
							<img src="/img/blog/1.jpg" alt="Blog">
						</a>
						<div class="blog-text">
							<p>By <a href="#">Admin</a> / On March 28, 2020</p>
							<h3>
								<a href="blog-details.html">A new restaurant in town that Looking think that Do care for
									new</a>
							</h3>
							<a class="read-more" href="blog-details.html">Read More <i
									class="flaticon-right-arrow-forward"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-blog">
						<a href="blog-details.html">
							<img src="/img/blog/2.jpg" alt="Blog">
						</a>
						<div class="blog-text">
							<p>By <a href="#">Admin</a> / On April 28, 2020</p>
							<h3>
								<a href="blog-details.html">Starbucks invests $100M in new retail startups Get a great
									test of foods</a>
							</h3>
							<a class="read-more" href="blog-details.html">Read More <i
									class="flaticon-right-arrow-forward"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-blog">
						<a href="blog-details.html">
							<img src="/img/blog/3.jpg" alt="Blog">
						</a>
						<div class="blog-text">
							<p>By <a href="#">Admin</a> / On May 28, 2020</p>
							<h3>
								<a href="blog-details.html">Labor Depar rules pro as tweaks overtime Feel to get into
									this</a>
							</h3>
							<a class="read-more" href="blog-details.html">Read More <i
									class="flaticon-right-arrow-forward"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- End Blog Area -->

<%- include('partials/footer') -%>