<%- include('partials/header', {title: "Welcome to 112Cart", desc: "Best Shopping Website"}); -%>

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-7">
	<div class="container">
		<div class="page-title-content">
			<h2>Shop</h2>
			<ul>
				<li>
					<a href="/">
						Home
						<i class="fa fa-chevron-right"></i>
					</a>
				</li>
				<li>Items</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<main>
	<!--/hero_in-->
	<div class="container margin_60_35">
		<div class="row">
			<aside class="col-lg-3" id="sidebar">
				<div id="filters_col">
					<a class="filters" style="font-weight: bold;">Collapse Filters</a>
					<div class="collapse show" id="collapseFilters">
						<form method="POST" action="/items">
							<hr>
							<% if (!(category.length == 1 && category[0] == '')) { %>
							<div class="filter_type">
								<h5>Categories</h5>
								<ul>
									<% category.forEach(element => { %>
									<li>
										<label>
											<input type="checkbox" name="category" value="<%=element%>">&nbsp;
											<b><%=element%></b>
										</label>
									</li>
									<% }); %>
								</ul>
							</div>
							<hr>
							<% } %>
							<% if (!(subCategory.length == 1 && subCategory[0] == '')) { %>
							<div class="filter_type">
								<h5>Sub-Category</h5>
								<ul>
									<% subCategory.forEach(element => { %>
									<li>
										<label>
											<input type="checkbox" name="subCategory" value="<%=element%>">&nbsp;
											<b><%=element%></b>
										</label>
									</li>
									<% }); %>
								</ul>
							</div>
							<hr>
							<% } %>
							<% if (!(tag.length == 1 && tag[0] == '')) { %>
							<div class="filter_type">
								<h5>Tags</h5>
								<ul>
									<% tag.forEach(element => { %>
									<li>
										<label>
											<input type="checkbox" name="tag" value="<%=element%>">&nbsp;
											<b><%=element%></b>
										</label>
									</li>
									<% }); %>
								</ul>
							</div>
							<% } %>
							<button class="default-btn" type="submit">Search</button>
						</form>

					</div>
					<!--/collapse -->
				</div>
				<!--/filters col-->
			</aside>
			<!-- /aside -->

			<div class="col-lg-9">
				<div class="row">
					<div class="container">
						<div class="row">
							<% itemlist.forEach(el => { %>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="single-menu-item" style="background-color: white !important;">
									<div class="menu-img">
										<a href="/items/<%= el.iid %>"><img src="<%=el.image[0]%>" loading="lazy"
												alt="Shop"></a>
										<div class="price">
											<span style="font-size: small;">Rs. <%= el.price %></span>
										</div>
									</div>
									<div class="item-text">
										<h3>
											<a href="#"><%= el.name %></a>
										</h3>
										<p><%= el.shortDesc%></p>
										<ul>
											<li>
												<a class="default-btn" href="/items/<%= el.iid %>">Order Now</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<% }) %>
						</div>
					</div>
					<!-- End Suitable Menu Area -->
				</div>
				<!-- /row -->
			</div>
			<!-- /col -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>
<!--/main-->

<%- include('partials/footer'); -%>