<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Udema a modern educational site template">
	<meta name="author" content="Ansonika">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<!-- TITLE -->
	<title>Asahi - Food & Restaurant HTML Template</title>

	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style1.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	<link href="css/icon_fonts/css/all_icons.min.css" rel="stylesheet">

	<!-- Owl Theme Default CSS -->
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Flaticon CSS -->
	<link rel="stylesheet" href="/css/flaticon.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="/css/nice-select.css">
	<!-- Imagelightbox CSS -->
	<link rel="stylesheet" href="/css/imagelightbox.min.css">
	<!-- Meanmenu CSS -->
	<link rel="stylesheet" href="/css/meanmenu.css">
	<!-- Date Picker CSS -->
	<link rel="stylesheet" href="/css/date-picker.css">
	<!-- Date Picker CSS -->
	<link rel="stylesheet" href="/css/odometer.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="/css/responsive.css">

	<!-- SPECIFIC CSS -->
	<link href="css/skins/square/grey.css" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">

</head>

<body>

	<!-- Start Preloader Area -->
	<div class="preloader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- End Preloader Area -->

	<div id="page" class="theia-exception">

		<!-- Start Navbar Area -->
		<div class="asahi-nav">
			<div class="navbar-area fixed-top">
				<!-- Menu For Mobile Device -->
				<div class="mobile-nav">
					<a href="/" class="logo">
						<img src="/img/asahi-logo.png" alt="Asahi Logo">
					</a>
				</div>

				<!-- Menu For Desktop Device -->
				<div class="main-nav asahi-nav-style-two asahi-nav-style-three">
					<nav class="navbar navbar-expand-md navbar-light">
						<div class="container">
							<a class="navbar-brand" href="/">
								<img src="/img/asahi-logo.png" alt="Asahi Logo">
							</a>

							<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item">
										<a href="#" class="nav-link dropdown-toggle active">Home</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a href="/" class="nav-link active">Home One</a>
											</li>
											<li class="nav-item">
												<a href="index-2.html" class="nav-link">Home Two</a>
											</li>
											<li class="nav-item">
												<a href="index-3.html" class="nav-link">Home Three</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link dropdown-toggle">Menu</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a href="menu-standard.html" class="nav-link">Menu Standard</a>
											</li>
											<li class="nav-item">
												<a href="menu-classic.html" class="nav-link">Menu Classic</a>
											</li>
											<li class="nav-item">
												<a href="menu-grid.html" class="nav-link">Menu Grid</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a href="/items" class="nav-link"> Items</a>
									</li>
									<li class="nav-item">
										<a href="/cartPage" class="nav-link">Cart</a>
									</li>
								</ul>
								<div class="others-option">
									<% if (typeof user != 'undefined') { %>
									<span class="menu-btn contact-number">
										Hi! <%= user.name %>
									</span>
									<a href="/users/logout" class="menu-btn contact-number">
										LOGOUT
									</a>
									<% } else { %>
									<a href="/users/login" class="menu-btn contact-number">
										LOGIN
									</a>
									<% } %>
									<a href="#" data-toggle="modal" data-target="#myModal2" class="menu-btn side-menu">
										Menu
										<i class="flaticon-menu"></i>
									</a>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<!-- End Navbar Area -->

		<!-- Start Sidebar Modal -->
		<div class="sidebar-modal">
			<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									<i class="fa fa-times"></i>
								</span>
							</button>
							<h2 class="modal-title" id="myModalLabel2">
								<a href="/">
									<img src="/img/asahi-logo.png" alt="Logo">
								</a>
							</h2>
						</div>
						<div class="modal-body">
							<div class="sidebar-modal-widget">
								<h3 class="title">Contact Info</h3>
								<ul class="contact-info">
									<li>
										<i class="fa fa-map-marker"></i>
										Address
										<span>44 Canal Center Plaza #200, Alexandria, VA 22314, USA</span>
									</li>
									<li>
										<i class="fa fa-envelope"></i>
										Email
										<span>asahi@gmail.com</span>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										Phone
										<span>+25462755, 265497466</span>
									</li>
								</ul>
							</div>
							<div class="sidebar-modal-widget">
								<h3 class="title">Additional Links</h3>
								<ul>
									<li>
										<a href="/users/login">Log In</a>
									</li>
									<li>
										<a href="/users/register">Sign Up</a>
									</li>
									<li>
										<a href="faq.html">FAQ</a>
									</li>
									<li>
										<a href="#">Logout</a>
									</li>
								</ul>
							</div>
							<div class="sidebar-modal-widget">
								<h3 class="title">Connect With Us</h3>
								<ul class="social-list">
									<li>
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Sidebar Modal -->

		<!-- Start Page Title Area -->
		<div class="page-title-area item-bg-7">
			<div class="container">
				<div class="page-title-content">
					<h2>Shop</h2>
					<ul>
						<li>
							<a href="/">
								Home
								<i class="fa fa-chevron-right"></i>
							</a>
						</li>
						<li>Shop</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<main>
			<!--/hero_in-->
			<div class="container margin_60_35">
				<div class="row">
					<aside class="col-lg-3" id="sidebar">
						<div id="filters_col">
							<a class="filters" style="font-weight: bold;">Collapse Filters</a>
							<div class="collapse show" id="collapseFilters">
								<form method="POST" action="/item/filter">
									<hr>
									<div class="filter_type">
										<h5>Categories</h5>
										<ul>
											<% category.forEach(element => { %>
											<li>
												<label>
													<input type="checkbox" name="category">&nbsp; <b><%=element%></b>
												</label>
											</li>
											<% }); %>
										</ul>
									</div>
									<hr>
									<div class="filter_type">
										<h5>Sub-Category</h5>
										<ul>
											<% subCategory.forEach(element => { %>
											<li>
												<label>
													<input type="checkbox" name="subCategory">&nbsp; <b><%=element%></b>
												</label>
											</li>
											<% }); %>
										</ul>
									</div>
									<hr>
									<div class="filter_type">
										<h5>Tags</h5>
										<ul>
											<% tag.forEach(element => { %>
											<li>
												<label>
													<input type="checkbox" name="tags">&nbsp; <b><%=element%></b>
												</label>
											</li>
											<% }); %>
										</ul>
									</div>
									<button class="default-btn" type="submit">Search</button>
								</form>
							</div>
							<!--/collapse -->
						</div>
						<!--/filters col-->
					</aside>
					<!-- /aside -->

					<div class="col-lg-9">
						<div class="row">
							<div class="container">
								<div class="row">
									<% for (let x = 0; x < itemlist.length; x++) { %>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="single-menu-item" style="background-color: white !important;">
											<div class="menu-img">
												<img src="<%=itemlist[x].image%>" alt="Shop">
												<div class="price">
													<span>₹ <%= itemlist[x].price %></span>
												</div>
											</div>
											<div class="item-text">
												<h3>
													<a href="#"><%= itemlist[x].name %></a>
												</h3>
												<p><%= itemlist[x].content%></p>
												<ul>
													<li>
														<a class="default-btn"
															href="/items/<%= itemlist[x].iid %>">Order Now</a>
													</li>
													<!-- <li class="quantity">
														<div class="input-counter">
															<span class="minus-btn">
																<i class="fa fa-minus"></i>
															</span>
															<input type="text" value="1">
															<span class="plus-btn">
																<i class="fa fa-plus"></i>
															</span>
														</div>
													</li> -->
												</ul>
											</div>
										</div>
									</div>
									<% } %>
								</div>
							</div>
							<!-- End Suitable Menu Area -->
						</div>
						<!-- /row -->
					</div>
					<!-- /col -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</main>
		<!--/main-->

		<footer>
			<!-- Start Footer Area -->
			<footer class="footer-area ptb-100-70">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="single-widget">
								<a href="#">
									<img src="/img/asahi-footer-logo.png" alt="Footer Logo">
								</a>
								<p>Sign up to our newsletter to get the latest food item news.</p>
								<form class="subscribe newsletter-form" data-toggle="validator">
									<label>
										<input type="email" class="input-newsletter search-field"
											placeholder="Your email" name="EMAIL" required autocomplete="off">
									</label>
									<input type="submit" class="search-submit default-btn-2" value="Sbuscribe">
									<div id="validator-newsletter" class="form-result"></div>
								</form>
							</div>
						</div>
						<div class="col-lg-2 col-sm-6">
							<div class="single-widget single-widget-1">
								<h3>USEFUL LINKS</h3>
								<ul class="footer-menu">
									<li>
										<a href="hone-one.html">
											<i class="flaticon-right-arrow-forward"></i>
											Home
										</a>
									</li>
									<li>
										<a href="#">
											<i class="flaticon-right-arrow-forward"></i>
											About Us
										</a>
									</li>
									<li>
										<a href="#">
											<i class="flaticon-right-arrow-forward"></i>
											Blog Grid
										</a>
									</li>
									<li>
										<a href="contact.html">
											<i class="flaticon-right-arrow-forward"></i>
											Contact Us
										</a>
									</li>
									<li>
										<a href="#">
											<i class="flaticon-right-arrow-forward"></i>
											Privacy Policy
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="single-widget single-widget-2">
								<h3>ADDRESS</h3>
								<ul>
									<li class="address-s">
										44 Canal Center Plaza #200, Alexandria, VA 22314, USA
									</li>
									<li><a href="#">Hotline: 1900 – 123 456 78</a></li>
									<li><a href="#">Email: asahi@gmail.com</a></li>
									<li><a href="#">Email: info@example.com</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="single-widget">
								<h3>OPENING HOURS</h3>
								<ul>
									<li class="footer-border">
										Monday: <span>9.00 AM - 22.00 PM</span>
									</li>
									<li class="footer-border">
										Tuesday: <span>9.00 PM - 22.00 AM</span>
									</li>
									<li class="footer-border">
										Wednesday: <span>9.00 AM - 20.00 PM</span>
									</li>
									<li>
										Thursday: <span>8.00 AM - 22.00 PM</span>
									</li>
									<li>
										Friday: <span>9.00 AM - 22.00 PM</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- End Footer Area -->

			<!-- Start Footer Bottom Area -->
			<footer class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-3">
							<ul class="social-list">
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-youtube-play"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="copy-right">
								<p>
									© 2020 All Rights Reserved-<a href="https://envytheme.com">EnvyTheme</a>
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-3">
							<ul class="bank-card">
								<li>
									<a href="#">
										<img src="/img/payment/1.png" alt="">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/img/payment/2.png" alt="">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/img/payment/3.png" alt="">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/img/payment/4.png" alt="">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
			<!-- End Footer Bottom Area -->

			<!-- Start Go Top Area -->
			<div class="go-top-area">
				<div class="go-top-wrap">
					<div class="go-top-btn-wrap">
						<div class="go-top go-top-btn">
							<i class="flaticon-arrows"></i>
							<i class="flaticon-arrows"></i>
						</div>
					</div>
				</div>
			</div>
			<!-- End Go Top Area -->
		</footer>
		<!--/footer-->
	</div>
	<!-- page -->

	<!-- COMMON SCRIPTS -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts.js"></script>
	<script src="js/main.js"></script>
	<script src="assets/validate.js"></script>

	<!-- Jquery Slim JS -->
	<script src="/js/jquery-3.2.1.slim.min.js"></script>
	<!-- Popper JS -->
	<script src="/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Meanmenu JS -->
	<script src="/js/jquery.meanmenu.js"></script>
	<!-- Nice Select JS -->
	<script src="/js/jquery.nice-select.min.js"></script>
	<!-- Wow JS -->
	<script src="/js/wow.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="/js/owl.carousel.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<!-- Imagelightbox JS -->
	<script src="/js/imagelightbox.min.js"></script>
	<!-- Appear JS -->
	<script src="/js/jquery.appear.js"></script>
	<!-- Odometer JS -->
	<script src="/js/odometer.min.js"></script>
	<!-- Form Ajaxchimp JS -->
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<!-- Form Validator JS -->
	<script src="/js/form-validator.min.js"></script>
	<!-- Contact Form JS -->
	<script src="/js/contact-form-script.js"></script>
	<!-- Custom JS -->
	<script src="/js/custom.js"></script>

	<script>
		$(".filters").click(function () {

			$header = $(this);
			$content = $header.next();
			$content.slideToggle(500, function () {
				$header.text(function () {
					return $content.is(":visible") ? "Collapse Filters" : "Expand Filters";
				});
			});

		})
	</script>

</body>

</html>