<%- include('partials/header', {title: "Welcome to 112Cart", desc: "Best Shopping Website"}); -%>

<style>
	#mainContainer {
		margin: 5%;
	}

	#sidebar {
		margin-top: 10px;
	}

	@media only screen and (min-width: 991px) {
		#mobile-items {
			display: none;
		}
	}

	@media only screen and (max-width: 991px) {
		#mainContainer {
			margin: 0;
			margin-top: 3%;
		}

		#desktop-items {
			display: none;
		}
	}
</style>


<!-- Start Page Title Area -->
<div class="page-title-area item-bg-7">
	<div class="container">
		<div class="page-title-content">
			<h2>Items</h2>
			<ul>
				<li>
					<a href="/">
						Home
						<i class="fa fa-chevron-right"></i>
					</a>
				</li>
				<li>Items</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<main>
	<!--/hero_in-->
	<div id="mainContainer">
		<div uk-grid>
			<aside class="uk-width-1-6@m" id="sidebar" style="margin-bottom: 5px;">
				<div id="filters_col">
					<a class="filters" style="font-weight: bold;">Collapse Filters</a>
					<div class="collapse show" id="collapseFilters">
						<form method="POST" action="/items">
							<hr>
							<% if (!(category.length == 1 && category[0] == '')) { %>
							<div class="filter_type">
								<h5>Categories</h5>
								<ul>
									<% category.forEach(element => { %>
									<li>
										<label>
											<input type="checkbox" name="category" value="<%=element%>">&nbsp;
											<b><%=element.toUpperCase()%></b>
										</label>
									</li>
									<% }); %>
								</ul>
							</div>
							<hr>
							<% } %>
							<% if (!(subCategory.length == 1 && subCategory[0] == '')) { %>
							<div class="filter_type">
								<h5>Sub-Category</h5>
								<ul>
									<% subCategory.forEach(element => { %>
									<li>
										<label>
											<input type="checkbox" name="subCategory" value="<%=element%>">&nbsp;
											<b><%=element.toUpperCase()%></b>
										</label>
									</li>
									<% }); %>
								</ul>
							</div>
							<hr>
							<% } %>
							<% if (!(tag.length == 1 && tag[0] == '')) { %>
							<div class="filter_type">
								<h5>Tags</h5>
								<ul>
									<% tag.forEach(element => { %>
									<li>
										<label>
											<input type="checkbox" name="tag" value="<%=element%>">&nbsp;
											<b><%=element.toUpperCase()%></b>
										</label>
									</li>
									<% }); %>
								</ul>
							</div>
							<% } %>
							<button class="default-btn" type="submit">Search</button>
						</form>
					</div>
				</div>
			</aside>
			<!-- /aside -->

			<div class="uk-width-5-6@m" style="margin: 0;">
				<!-- Start Desktop View -->
				<div class="uk-grid-small uk-child-width-1-4@m uk-text-center" id="desktop-items" uk-grid>
					<% itemlist.forEach(el => { %>
					<div>
						<div class="single-menu-item" style="background-color: white !important;">
							<div class="menu-img">
								<a href="/items/<%= el.iid %>"><img src="<%=el.image[0]%>" loading="lazy"
										alt="<%= el.name %>"></a>
								<div class="price">
									<span style="font-size: small;">Rs. <%= el.price %></span>
								</div>
							</div>
							<div class="item-text">
								<h4>
									<a href="/items/<%= el.iid %>" style="color: black;"><%= el.name %></a>
								</h4>
								<p><%= el.shortDesc%></p>
								<!-- <ul>
									<li>
										<a class="default-btn" href="/items/<%= el.iid %>">Order Now</a>
									</li>
								</ul> -->
							</div>
						</div>
					</div>
					<% }); %>
				</div>
				<!-- End Desktop View -->

				<!-- Start Mobile View -->
				<div id="mobile-items">
					<% itemlist.forEach(el => { %>
					<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2 uk-margin" uk-grid>
						<div class="uk-card-media-left uk-cover-container">
							<div class="menu-img">
								<a href="/items/<%= el.iid %>">
									<img src="<%=el.image[0]%>" loading="lazy" alt="<%= el.name %>"
										style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
										<canvas height="400px"></canvas>
								</a>
							</div>
						</div>
						<div>
							<div class="uk-card-body" style="padding: 5%;">
								<a href="/items/<%= el.iid %>" style="color: black;">
									<h4 class="uk-title"><%=el.name%></h4>
									<span style="color: black; font-size: medium;">Rs. <%=el.price%></span>
								</a>
								<p style="margin-top: 7px;"><%=el.shortDesc%></p>
							</div>
						</div>
					</div>
					<% }) %>
				</div>
				<!-- End Mobile View -->
			</div>
			<!-- /col -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>
<!--/main-->

<%- include('partials/footer'); -%>