<%- include('partials/adminHeader'); -%>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Quotes List</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Quotes Data Table</div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Quote ID</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Phone No.</th>
                                <th>Item ID</th>
                                <th>Units</th>
                                <th>Quote Date</th>
                                <th>User ID</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% quotes.forEach(element => { %>
                            <tr>
                                <td><%=element.quoteId%></td>
                                <td><%=element.email%></td>
                                <td><%=element.name%></td>
                                <td><%=element.phone%></td>
                                <td><%=element.iid%></td>
                                <td><%=element.units%></td>
                                <td><%=element.dateCreated.toLocaleDateString()%></td>
                                <td><%=element.uuid%></td>
                                <td><a class="ui small green button"
                                        href="/admin/complete-service/<%=element.quoteId%>">Mark as Complete</a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /tables-->
    </div>
    <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->

<%- include('partials/adminFooter'); -%>