<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Owl Theme Default CSS --> 
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <!-- Owl Carousel CSS --> 
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <!-- Animate CSS --> 
        <link rel="stylesheet" href="/css/animate.css">
        <!-- Flaticon CSS --> 
		<link rel="stylesheet" href="/css/flaticon.css">
        <!-- Font Awesome CSS --> 
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<!-- Nice Select CSS --> 
		<link rel="stylesheet" href="/css/nice-select.css">
        <!-- Imagelightbox CSS --> 
		<link rel="stylesheet" href="/css/imagelightbox.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="/css/meanmenu.css">
        <!-- Date Picker CSS -->
        <link rel="stylesheet" href="/css/date-picker.css">
        <!-- Date Picker CSS -->
        <link rel="stylesheet" href="/css/odometer.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Responsive CSS -->
		<link rel="stylesheet" href="/css/responsive.css">
		
		<!-- Favicon -->
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <!-- TITLE -->
        <title>Asahi - Food & Restaurant HTML Template</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>
		<!-- End Preloader Area -->

        <!-- Start Sign-up Area -->
        <section class="sign-up-area">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 col-md-6 p-0">
						<div class="sign-up-bg"></div>
					</div>
					<div class="col-lg-6 col-md-6 p-0">
						<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
							<div  role="alert">
							  <%= error.msg %>
							  <button type="button" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<% }); %> <% } %> <% if(success_msg != ''){ %>
							<div class="alert alert-success alert-dismissible fade show" role="alert">
							  <%= success_msg %>
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<% } %> <% if(error_msg != ''){ %>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
							  <%= error_msg %>
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<% } %> <% if(error != ''){ %>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
							  <%= error %>
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<% } %>
						<div class="sign-up-form">
							<h3>Create your Account</h3>
							<form  action="/users/register" method="POST">
								<div class="row">
									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<label>Name</label>
											<input name="name" type="text" class="form-control" placeholder="Last Name" value="<%= typeof name != 'undefined' ? name : '' %>">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label>Email</label>
											<input type="email" name="email" class="form-control" placeholder="Email Address" value="<%= typeof email != 'undefined' ? email : '' %>">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label>Password</label>
											<input type="password" name="password" class="form-control" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label>Confirm Password</label>
											<input type="password" name="password2" class="form-control" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
										</div>
									</div>
									<div class="col-md-6 offset-md-3">
										<button type="submit" class="btn default-btn">
											Sign Up
										</button>
									</div>
									<div class="col-lg-12">
										<p>
											Already a registered user? 
											<a href="/users/login">Login!</a>
										</p>
										<p><a href="/auth/google">Login with Google</a></p>
										<p><a href="/auth/facebook">Login with facebook</a></p>
									</div>
									<div class="col-lg-12">
										<ul class="social-list">
											<li>
												<a href="#">
													<i class="fa fa-facebook"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-google-plus"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-linkedin"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Sign-up Area -->

        
        <!-- Jquery Slim JS -->
        <script src="/js/jquery-3.2.1.slim.min.js"></script>
        <!-- Popper JS -->
        <script src="/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
		<script src="/js/jquery.meanmenu.js"></script>
		<!-- Nice Select JS -->
        <script src="/js/jquery.nice-select.min.js"></script>
        <!-- Wow JS -->
        <script src="/js/wow.min.js"></script>
        <!-- Owl Carousel JS -->
		<script src="/js/owl.carousel.js"></script>
        <!-- Bootstrap Datepicker JS -->
		<script src="/js/bootstrap-datepicker.min.js"></script>
        <!-- Imagelightbox JS -->
		<script src="/js/imagelightbox.min.js"></script>
        <!-- Appear JS -->
		<script src="/js/jquery.appear.js"></script>
        <!-- Odometer JS -->
		<script src="/js/odometer.min.js"></script>
		<!-- Form Ajaxchimp JS -->
		<script src="/js/jquery.ajaxchimp.min.js"></script>
		<!-- Form Validator JS -->
		<script src="/js/form-validator.min.js"></script>
		<!-- Contact Form JS -->
		<script src="/js/contact-form-script.js"></script>
        <!-- Custom JS -->
        <script src="/js/custom.js"></script>
    </body>
</html>