<%- include("partials/newHeader.ejs") %>

<div data-content-region="header_bottom"></div>
<div class="body" data-currency-code="EUR">

    <div class="home-content">
        <div class="tt-breadcrumbs-main">
            <div class="tt-breadcrumbs">
                <div class="container">
                    <h1 class="category-name">
                        <span class="breadcrumb-title ">
                        </span>
                        <span class="breadcrumb-title is-active">
                            <span class="breadcrumb-label">Your Saved Order</span>
                        </span>
                    </h1>
                    <ul class="breadcrumbs" itemscope itemtype="">
                        <li class="breadcrumb " itemprop="itemListElement" itemscope>
                            <a href="/" class="breadcrumb-label" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="breadcrumb is-active" itemprop="itemListElement" itemscope>
                            <meta itemprop=" item" content="/cart.php">
                            <span class="breadcrumb-label" itemprop="name">Your Saved Order</span>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="margin-left: 13%; margin-right: 13%;">
            <div class="uk-child-width-1-1@m" uk-grid>
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                        <thead>
                            <style>
                                th.uk-table-small {
                                    text-align: center;
                                    color: #2a3746;
                                    font-weight: bold;
                                }

                                .default-btn {
                                    font-weight: light;
                                    font-size: medium;
                                    background-color: #ffaa3d;
                                    border-radius: 50px;
                                    padding: 7px 14px 7px 14px;
                                    color: white;
                                }
                            </style>
                            <tr>
                                <th class="uk-table-small">Item</th>
                                <th class="uk-table-small">Quantity</th>
                                <th class="uk-table-small">Payment Status</th>
                                <th class="uk-table-small">Shipment Status</th>
                                <th class="uk-table-small">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var sum = 0 %>

                            <% Olist.forEach(el => { %>
                            <tr>
                                <td class="uk-table-link">
                                    <%=el.item.name%>
                                </td>
                                <td class="uk-table-link">
                                    <%=el.quantity%>
                                </td>
                                <td class="uk-table-link">
                                    <%=order.status.toUpperCase() %>
                                </td>
                                <td class="uk-table-link">
                                    <%=order.shipmentStatus.toUpperCase()%></span>
                                </td>
                                <td class="uk-text-nowrap">
                                    <%var total =  parseInt((el.quantity * el.item.price) * (1 + el.item.tax/100))%>
                                    Rs. <%=total%>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>

                    <div style="text-align: center; margin: 15px">
                        <a href="/pay/save/online/<%=order.orderId%>" class="default-btn">
                            Online Payment
                        </a>
                    </div>
                    <% if (order.codAllowed) { %>
                    <div style="text-align: center; margin: 15px">
                        <a href="/pay/save/cod/<%=order.orderId%>" class="default-btn">
                            COD
                        </a>
                    </div>
                    <% } %>
                    <div style="text-align: center; margin: 15px">
                        <% if (order.creditAllowed) { %>
                        <a href="/pay/save/cred/<%=order.orderId%>" class="default-btn">
                            Credit Payment
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<%- include("partials/newFooter.ejs") %>