<%- include('partials/adminHeader'); -%>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">User List</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Users Data Table</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>UUID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Allow Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.forEach(element => { %>
                            <tr>
                                <td><a href="/admin/getUsers/<%-element.uuid%>"><%= element.uuid %></a></td>
                                <td><a href="/admin/getUsers/<%-element.uuid%>"><%= element.name %></a></td>
                                <td><a href="/admin/getUsers/<%-element.uuid%>"><%= element.email %></a></td>
                                <td><a href="/admin/getUsers/<%-element.uuid%>"><%= element.phone %></a></td>
                                <td><a class="ui green button" href="/business/allowCredit/<%=element.uuid%>">Allow
                                        Credit</a></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /tables-->
    </div>
    <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->

<%- include('partials/adminFooter'); -%>