<%- include('partials/adminHeader'); -%>

<div class="container">
    <br>
    <br>
    <br>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>UUID</th>
                <th>Name</th>
                <th>EMail</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < user.length; i++ ) { %>
            <tr>
                <td><%= user[i].uuid %></td>
                <td><%= user[i].name %></td>
                <td><%= user[i].email %></td>
                <td><%= user[i].phone %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('partials/adminFooter'); -%>