<%- include('partials/header', {title: "Welcome to 112Cart", desc: "Best Shopping Website"}); -%>

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-2">
	<div class="container">
		<div class="page-title-content">
			<h2>Cart</h2>
			<ul>
				<li>
					<a href="/">
						Home
						<i class="fa fa-chevron-right"></i>
					</a>
				</li>
				<li>Cart</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start Cart Area -->
<section class="cart-area ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<form>
					<div class="cart-table table-responsive">
						<% if (list.length > 0) { %>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col">Product</th>
									<th scope="col">Name</th>
									<th scope="col">Unit Price</th>
									<th scope="col">Quantity</th>
								</tr>
							</thead>

							<tbody>
								<% let x = 0; %>
								<% for (let i = 0; i < list.length; i++) { %>
								<tr>
									<td class="product-thumbnail">
										<a href="#">
											<img src="/img/cart/1.jpg" alt="item">
										</a>
									</td>

									<td class="product-name">
										<a href="#"><%= list[i].item.name %></a>
									</td>
									<% x = x + parseInt(list[i].quantity) * parseInt(list[i].item.price) %>

									<td class="product-price">
										<span class="unit-amount">Rs. <%= list[i].item.price %></span>
									</td>

									<td class="product-subtotal">
										<span class="subtotal-amount"><%=list[i].quantity%></span>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
						<% } else { %>
						<h4 style="text-align: center;">You don't have any lists.</h4>
						<% } %>
					</div>

					<div class="cart-buttons">
						<div class="row align-items-center">
							<div class="col-lg-7 col-sm-7 col-md-7">
								<div class="continue-shopping-box">
									<a href="#" class="default-btn">
										Continue Shopping
										<i class="flaticon-right-arrow-forward"></i>
									</a>
								</div>
							</div>

							<div class="col-lg-5 col-sm-5 col-md-5 text-right">
								<a href="/user/list-update/<%=lid%>" class=" default-btn">
									Update Cart
									<i class="flaticon-right-arrow-forward"></i>
								</a>
							</div>
						</div>
					</div>
				</form>

				<div class="cart-totals">
					<h3>Cart Totals</h3>


					<a href="/checkout" class="default-btn">
						Proceed to Checkout
						<i class="flaticon-right-arrow-forward"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Cart Area -->

<%- include('partials/footer') %>