<%- include("partials/newHeader.ejs") %>

<div data-content-region="header_bottom"></div>
<div class="body" data-currency-code="EUR">

    <div class="home-content">
        <div class="tt-breadcrumbs-main">
            <div class="tt-breadcrumbs">
                <div class="container">
                    <h1 class="category-name">
                        <span class="breadcrumb-title ">
                        </span>
                        <span class="breadcrumb-title is-active">
                            <span class="breadcrumb-label">Your Business Account</span>
                        </span>
                    </h1>
                    <ul class="breadcrumbs" itemscope itemtype="">
                        <li class="breadcrumb " itemprop="itemListElement" itemscope>
                            <a href="/" class="breadcrumb-label" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="breadcrumb is-active" itemprop="itemListElement" itemscope>
                            <meta itemprop=" item" content="/cart.php">
                            <span class="breadcrumb-label" itemprop="name">Your Business Account</span>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <% if (business.isAccepted) { %>
        <div style="margin-left: 13%; margin-right: 13%;">
            <div class="uk-child-width-1-1@m" uk-grid>
                <h4 style="text-align: center;">You already have a <% if (currentUser.premium) { %>
                    Premium
                    <% } %>
                    Business Account.</h4>
                <br>
            </div>
        </div>
        <br>
        <style>
            #tab {
                margin-bottom: 2px;
                margin-top: 2px;
            }
        </style>
        <div style="margin-left: 13%; margin-right: 13%;">
            <div class="uk-child-width-1-1@m" uk-grid>
                <h3 id="tab">Business Name: <%=business.businessName%></h3>
                <h3 id="tab">Business Email: <%=business.businessEmail%></h3>
                <h3 id="tab">Business Address: <%=business.businessAddress%></h3>
                <h3 id="tab">Business City: <%=business.businessCity%></h3>
                <h3 id="tab">Business State: <%=business.businessState%></h3>
                <h3 id="tab">Business PIN: <%=business.businessPin%></h3>
                <h3 id="tab">Business PAN: <%=business.panNumber%></h3>
                <h3 id="tab">Business GST: <%=business.gstNumber%></h3>
            </div>
        </div>
        <% } else { %>
        <div style="margin-left: 13%; margin-right: 13%;">
            <div class="uk-child-width-1-1@m" uk-grid>
                <h4 style="text-align: center;">Your Business Account Request is waiting for Approval.</h4>
                <br>
            </div>
        </div>
        <br>
        <style>
            #tab {
                margin-bottom: 2px;
                margin-top: 2px;
            }
        </style>
        <div style="margin-left: 13%; margin-right: 13%;">
            <div class="uk-child-width-1-1@m" uk-grid>
                <h3 id="tab">Business Name: <%=business.businessName%></h3>
                <h3 id="tab">Business Email: <%=business.businessEmail%></h3>
                <h3 id="tab">Business Address: <%=business.businessAddress%></h3>
                <h3 id="tab">Business City: <%=business.businessCity%></h3>
                <h3 id="tab">Business State: <%=business.businessState%></h3>
                <h3 id="tab">Business PIN: <%=business.businessPin%></h3>
                <h3 id="tab">Business PAN: <%=business.panNumber%></h3>
                <h3 id="tab">Business GST: <%=business.gstNumber%></h3>
            </div>
        </div>
        <% } %>
    </div>
</div>

<%- include("partials/newFooter.ejs") %>