<%- include('partials/adminHeader'); -%>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Vendors List</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Vendors Table</div>
            <div class="card-body">
                <div style="text-align: center;">
                    <a href="/admin/createVendor" class="ui large green button" style="margin-bottom: 5px;">Create Vendor</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>VendorID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Phone</th>
                                <th>Email</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% vendors.forEach(element => { %>
                            <tr>
                                <td><%= element.vendorId %></td>
                                <td><%= element.name %></td>
                                <td><%= element.address %></td>
                                <td><%= element.city %></td>
                                <td><%= element.state %></td>
                                <td><%= element.phone %></td>
                                <td><%= element.email %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /tables-->
    </div>
    <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->

<%- include('partials/adminFooter'); -%>